/* Dropdown.css */
.dropdown {
  width: 80px;
  position: relative;
  font-family: sans-serif;
  color: black;
}

.dropdown-toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 12px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

